html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0%;
    background-color: #74D6AA;
}

#grid-container{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.225);
    border: 1px black solid;
    background-color: cornflowerblue;
    margin: 3em auto;
    width: 20em;
    height: 30em;
    display: grid;
    grid-template-columns: 10px auto auto auto auto 10px;
    grid-template-rows: 10px 20px auto 20px auto auto auto auto auto 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.btn::after{
    background-color: gray;
    box-shadow: none;
}

.btn{
    border: 1px black solid;
    color: white;
    cursor: pointer;
    background-color: color;
    padding-top: 30%;
    margin: 0.1em;
    text-align: center;
    background-color: gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: background-color 1s, box-shadow 1s, transform 0.1s;
    -webkit-transition: background-color 1s, box-shadow 1s, transform 0.1s;
    -moz-transition: background-color 1s, box-shadow 1s, transform 0.1s;
    -ms-transition: background-color 1s, box-shadow 1s, transform 0.1s;
    -o-transition: background-color 1s, box-shadow 1s, transform 0.1s;
}
.btn:active{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.225);
}

.btn:hover{
    background-color: rgb(167, 167, 167);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.225);
}

#fondito{
    transition: box-shadow 1s;
    margin: 0.5em;
    background-color: rgb(53, 108, 204);
    grid-row: 4 / span 7;
    grid-column: 1 / span 6;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
}

#fondito:hover{
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.225);
}

#inputScreen{
    transition: transform 1s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.225);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: aqua;
    grid-row: 3;
    grid-column: 2 / span 4;
    text-align: end;
    font-size: 1.5em;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

#inputScreen:focus{
    animation-name: bubble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bubble {
    0%{ 
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition: transform 2s;
        -moz-transition: transform 2s;
        -ms-transition: transform 2s;
        -o-transition: transform 2s;
}
    50%{
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
}
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

#number1{
    grid-row: 8;
    grid-column: 2;
}
#number2{
    grid-row: 8;
    grid-column: 3;
}
#number3{
    grid-row: 8;
    grid-column: 4;
}
#number4{
    grid-row: 7;
    grid-column: 2;
}
#number5{
    grid-row: 7;
    grid-column: 3;
}
#number6{
    grid-row: 7;
    grid-column: 4;
}
#number7{
    grid-row: 6;
    grid-column: 2;
}
#number8{
    grid-row: 6;
    grid-column: 4;
}
#number9{
    grid-row: 6;
    grid-column: 3;
}
#number0{
    grid-row: 9;
    grid-column: 3;
}
#opeMas{
    grid-row: 8;
    grid-column: 5;
}
#opeMenos{
    grid-row: 7;
    grid-column: 5;
}
#opeDividir{
    grid-row: 6;
    grid-column: 5;
}
#opeMulti{
    grid-row: 5;
    grid-column: 5;
}
#deleteAll{
    grid-row: 5;
    grid-column: 2;
    background-color: red;
}
#resultado{
    padding-top: 20%;
    grid-row: 9;
    grid-column: 4 / span 2;
    background-color: rgb(33, 164, 0);
}

#resultado:hover{
    background-color: rgb(59, 197, 16);
}

#deleteAll:hover{
    background-color: rgb(255, 79, 79);
}